.code {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

form {
    color: white;
    text-align: center;

    label {
        font-size: xx-large;
    }

    input {
        padding: 10px 20px;
        border-radius: 20px;
    }

    button {
        background-color: #8E0000;
        color: white;
        padding: 5px 10px;
        border: 2px solid white;
        border-radius: 12px;
    }
}
